/*
* {
	margin : 0;
	padding: 0;
}*/

/* THEME COMMUN */

body{
	font-size   : 13px;
	font-family : Arial, Verdana, Helvetica, Geneva, sans-serif; 
	color            : #000060;
	background: #fff url(../images/maze.png) fixed;
	margin:0;
}

.main{
	width:80%;
	background-color: #fff;
	text-align:	  left;
	padding:0 10px 10px 10px;
	margin:30px auto 30px auto;
	background: #fff url(../images/maze2.png) fixed;
	border: 1px solid #000;
	border-radius: 10px 10px;
	-moz-border-radius: 10px;
}

h1, h2, h3, h4 {
	font-family : "Times New Roman", Georgia, Times, serif;
	color       : #336699;
}





/* PLATEAU DE JEU */

.plateau{
	background-color: #fff;
	text-align:	  left;
	margin:10px auto 10px auto;
	width:95%;
	max-width:900px;
	min-width:250px;
	padding:10px 0 10px 0;
	background: #fff url(../images/maze2.png) fixed;
	border: 1px solid #005;
	
	border-radius: 10px 10px;
	-moz-border-radius: 10px;
}

hr {
	clear:both;
	visibility:hidden;
	margin:0px;
}



/* CASE JOUEUR */

div.joueur {
	background-color: #f2faff;
	border: solid 1px #99bbee;
	width:  200px;
	margin: 0em;
	padding:2px;
	/*min-height : hauteur d'une carte + ..*/
}

div.haut, div.bas {margin:0 auto 0 auto;}
div.haut{width: 200px; min-width: 30%; max-width: 95%; margin-bottom:7px;}
div.bas {width: 350px; min-width: 40%; max-width: 95%; margin-top:   7px;}

div.gauche {float: left;  margin-left: 1%; width:30%; min-width: 100px;}
div.droite {float: right; margin-right:1%; width:30%; min-width: 100px;}


div.etat {
	font-size:12px;
	width:30%; min-width: 100px;
	float:left;
	padding:2px;
	margin-left:1%;
}

.joueur > p  {margin:0}
.joueur > h3 {margin:5px 0 0 10px;}
.pari > h4   {margin:5px 0 0 10px; font-size:0.9em;}





/* CARTES */

.carte {
	background-color: #eee;
	border: solid 1px #557799;
	width:50px;
	text-align: center;
	font-size: 1.6em;
	margin:2px 2px 2px 2px;
	color:#000;
}

.carte_table {float:right;}




/*POIGNEE*/
.carte_poignee{float:left;}

.carte_poignee > a {text-decoration:none; color:#008;}
.carte_cachee {background-color: transparent;border-style:dashed;}

.carte_jouable {background-color:#fff;}

.excuse0 {position:relative;top:   -5px;left: 0px;}
.excuse22{position:relative;bottom:-5px;right:0px;}

p.info_player {font-size:0.7em;float:right;margin-right:5%;}




.pari {font-weight:bold; font-size:1.4em; margin-left:5px;}
.pari > a {text-decoration:none; color:black;}
.pari > span.forbidden { color:grey; cursor:not-allowed;}

.pari > span.forbidden > span{display:none;}

.pari > span.forbidden:hover > span{display:block; position:fixed; color:red; top:5px; right:5px;}





